torch
torchaudio
matplotlib
SpeechRecognition
fastapi
git+https://github.com/openai/whisper.git
ffmpeg-python
uvicorn
python-multipart
urllib3
opencv-python
numpy==1.23.5
imutils==0.5.3
scikit-learn==1.2.2
openai
python-dotenv
faster-whisper
pydub
librosa
pandas
joblib
