torch
torchaudio
librosa
matplotlib
SpeechRecognition
fastapi
git+https://github.com/openai/whisper.git
ffmpeg-python
uvicorn
python-multipart
urllib3
opencv_python
Keras==2.3.1
pandas==1.5.3
# numpy==1.17.4
imutils==0.5.3
scikit_learn==1.2.2
openai
dotenv
faster_whisper
pydub